<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #be0000;">
  <div class="container-fluid">
    <a class="navbar-brand text-white"><img src="assets/images/cm_logo_white.svg" width="60px" height="60px"
        class="img-fluid rounded-circle "> Out-Of-Office Dashboard</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mb-2">
        <li class="nav-item fst-italic text-white" id="name">
          {{displayName}}
          <a class="navbar-brand me-2 ms-2"><img src="../assets//images//logout.svg" width="20px" height="20px"> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>